@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
:root {
  --primary-color:#007AF3;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Poppins'sans-serif;
}

.container {
  padding: 5px 20px;
}

nav {
  display: none;
}

.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  padding: 15px 20px;
  width: 100%;
}

.nav .logo {
  font-size: 1.2em;
  font-weight: bold;
}

.nav .logo span {
  color: var(--primary-color);
}

.showcase .container {
  padding: 80px 20px;
  background: #f3f1fd;
  text-align: center;
}

.showcase .container .left-side p {
  font-size: 1.1em;
  text-transform: uppercase;
  color: grey;
  font-weight: bold;
  letter-spacing: .3em;
  margin: 1em 0 0.4em 0;
}

.showcase .container .left-side h1 {
  font-size: 44px;
  margin-bottom: 0.5em;
}

.showcase .container .left-side .try {
  background: var(--primary-color);
  color: #fff;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em 1.2em;
  font-size: 1.3em;
  border-radius: 2em;
}

.showcase .container .left-side .watch {
  display: block;
  margin: 1em 0;
  text-decoration: underline;
}

.showcase .container .left-side a img {
  margin-right: 10px;
}

.showcase .container .illustration {
  width: 70%;
  margin: auto;
}

section.features {
  background: #20272E;
  padding: 5em 2em;
}

section.features .features-left li {
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

section.features .features-left li::before {
  content: '';
  position: absolute;
  left: -2em;
  width: 20px;
  height: 20px;
  background-image: url(../images/bullet.svg);
  background-size: contain;
  margin-right: .5em;
}

section.features .features-right {
  display: none;
}

section.testimonials {
  padding: 5em 2em;
  background: var(--primary-color);
}

section.testimonials li {
  background: #006BD6;
  text-align: center;
  margin: 0 auto 5em auto;
  padding: 2em 1em;
  border-radius: 1em;
}

section.testimonials li blockquote {
  color: #fff;
  font-size: 1.3em;
}

section.testimonials li cite {
  color: #fff;
}

section.testimonials li img {
  width: 5em;
  margin-top: -4.5em;
  border: 5px solid #006bd6;
  border-radius: 50%;
}

section.contact-section .container {
  padding: 5em 2em;
}

section.contact-section .container .contact h1 {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 0.8em;
}

section.contact-section .container .contact label {
  display: block;
  font-size: 1.3em;
  margin-bottom: .5em;
}

section.contact-section .container .contact input, section.contact-section .container .contact textarea {
  padding: .8em;
  width: 100%;
  border: 1px solid grey;
  border-radius: .3em;
  margin-bottom: 1em;
}

section.contact-section .container .contact input[type="submit"] {
  background: var(--primary-color);
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  padding: .8em 2em;
  border: none;
  border-radius: 5em;
  width: unset;
  margin-bottom: 5em;
}

section.contact-section .container .contact iframe {
  width: 100%;
  height: 300px;
}
/*# sourceMappingURL=main.css.map */