
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
:root{
    --primary-color:#007AF3;
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    text-decoration: none;
}
ul{
    list-style-type:none;
}
body{
    font-family:'Poppins'sans-serif;
}
.container{
    padding:5px 20px;
}
nav{
    display:none;
}
.nav .container{
    display:flex;
    place-content: space-between;
    padding:15px 20px;
    width:100%;
}
.nav .logo{
    font-size:1.2em;
    font-weight: bold;
    span{
        color:var(--primary-color);
    }
}
.showcase .container{
    padding: 80px 20px;
    background:#f3f1fd;
    text-align:center;
    .left-side{
        p{
            font-size:1.1em;
            text-transform: uppercase;
            color:grey;
            font-weight: bold;
            letter-spacing: .3em;
            margin:1em 0 0.4em 0;
        }
        h1{
            font-size:44px;
            margin-bottom:0.5em;
        }
        .try{
            background:var(--primary-color);
            color:#fff;
            display:inline-block;
            font-weight: bold;
            padding:0.7em 1.2em;
            font-size:1.3em;
            border-radius:2em;
        }
        .watch{
            display:block;
            margin:1em 0;
            text-decoration:underline;
        }
        a img{
            margin-right:10px;
        }
    }
    .illustration{
        width:70%;
        margin:auto;
    }
}

section.features{
    background:#20272E;
    padding:5em 2em;
    
    .features-left{
        li{
            font-size:1.1em;
            color:#fff;
            margin-bottom:1em;
            margin-left:2em;
            position:relative;
        }
        li::before{
            content:'';
            position:absolute;
            left:-2em;
            width:20px;
            height:20px;
            background-image:url(../images/bullet.svg);
            background-size:contain;
            margin-right:.5em;
        }
    }
    .features-right{
        display:none;
    }
}
section.testimonials{
    padding:5em 2em;
    background:var(--primary-color);
    li{
        background:#006BD6;
        text-align:center;
        margin:0 auto 5em auto;
        padding:2em 1em;
        border-radius:1em;
        blockquote{
            color:#fff;
            font-size: 1.3em;
        }
        cite{
            color:#fff;
        }
        img{
            width:5em;
            margin-top:-4.5em;
            border:5px solid #006bd6;
            border-radius:50%;
        }
    }
}
section.contact-section .container{
    padding:5em 2em;
    .contact{
        h1{
            font-size:44px;
            font-weight: bold;
            margin-bottom: 0.8em;;
        }
        label{
            display:block;
            font-size:1.3em;
            margin-bottom:.5em;
        }
        input,textarea{
            padding:.8em;
            width:100%;
            border:1px solid grey;
            border-radius:.3em;
            margin-bottom:1em;
        }
        input[type="submit"]{
            background:var(--primary-color);
            color:white;
            font-size:1.3em;
            font-weight: bold;
            padding:.8em 2em;
            border:none;
            border-radius:5em;
            width:unset;
            margin-bottom:5em;
        }
        iframe{
            width:100%;
            height:300px;
        }
    }
}