@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
:root {
  --primary-color:#007AF3;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Poppins'sans-serif;
}

.container {
  padding: 5px 20px;
}

nav {
  display: none;
}

.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  padding: 15px 20px;
  width: 100%;
}

.nav .logo {
  font-size: 1.2em;
  font-weight: bold;
}

.nav .logo span {
  color: var(--primary-color);
}

section.showcase {
  background: #f3f1fd;
}

section.showcase .container {
  padding: 80px 20px;
  text-align: center;
}

section.showcase .container .left-side p {
  font-size: 1.1em;
  text-transform: uppercase;
  color: grey;
  font-weight: bold;
  letter-spacing: .3em;
  margin: 1em 0 0.4em 0;
}

section.showcase .container .left-side h1 {
  font-size: 44px;
  margin-bottom: 0.5em;
}

section.showcase .container .left-side .try {
  background: var(--primary-color);
  color: #fff;
  display: inline-block;
  font-weight: bold;
  padding: 0.7em 1.2em;
  font-size: 1.3em;
  border-radius: 2em;
}

section.showcase .container .left-side .watch {
  display: block;
  margin: 1em 0;
  text-decoration: underline;
}

section.showcase .container .left-side a img {
  margin-right: 10px;
}

section.showcase .container .illustration {
  width: 70%;
  margin: auto;
}

section.features {
  background: #20272E;
  padding: 5em 2em;
}

section.features .features-left ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
}

section.features .features-left li {
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

section.features .features-left li::before {
  content: '';
  position: absolute;
  left: -2em;
  width: 20px;
  height: 20px;
  background-image: url(../images/bullet.svg);
  background-size: contain;
  margin-right: .5em;
}

section.features img {
  display: none;
}

section.testimonials {
  padding: 5em 2em;
  background: var(--primary-color);
}

section.testimonials li {
  background: #006BD6;
  text-align: center;
  margin: 0 auto 5em auto;
  padding: 2em 1em;
  border-radius: 1em;
}

section.testimonials li blockquote {
  color: #fff;
  font-size: 1.3em;
}

section.testimonials li cite {
  color: #fff;
}

section.testimonials li img {
  width: 5em;
  margin-top: -4.5em;
  border: 5px solid #006bd6;
  border-radius: 50%;
}

section.contact-section .container {
  padding: 5em 2em;
}

section.contact-section .container .contact h1 {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 0.8em;
}

section.contact-section .container .contact label {
  display: block;
  font-size: 1.3em;
  margin-bottom: .5em;
}

section.contact-section .container .contact input, section.contact-section .container .contact textarea {
  padding: .8em;
  width: 100%;
  border: 1px solid grey;
  border-radius: .3em;
  margin-bottom: 1em;
}

section.contact-section .container .contact input[type="submit"] {
  background: var(--primary-color);
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  padding: .8em 2em;
  border: none;
  border-radius: 5em;
  width: unset;
  margin-bottom: 5em;
  cursor: pointer;
}

section.contact-section .container .contact iframe {
  width: 100%;
  height: 300px;
}

nav {
  display: none;
  background: #000;
  width: 66%;
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  height: 100vh;
  padding: 1em;
}

nav .primary-menu {
  margin-top: 4em;
}

nav li a {
  display: block;
  padding: .9em;
  font-size: 1.2em;
  text-align: right;
  color: white;
}

nav li a:hover {
  font-weight: bold;
}

nav img {
  float: right;
  margin: .1em;
}

nav.menu-btn {
  display: block;
}

/* responsive */
@media only screen and (min-width: 768px) {
  #show-bar, #exit-bar {
    display: none;
  }
  .nav .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: unset;
    width: 100%;
    background: none;
    height: auto;
    padding: 0;
  }
  .nav nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav nav ul.primary-menu {
    margin: 0;
  }
  .nav nav a {
    color: black;
    font-size: 1em;
    padding: .1em 1em;
  }
  .nav nav li.current a {
    font-weight: bold;
  }
  .nav nav li.go-pre a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 5em;
    font-weight: bold;
    margin-top: -.2em;
  }
  .nav nav li.go-pre a:hover {
    background: var(--primary-color);
    color: #fff;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .nav .container {
    width: 1080px;
    margin: 0 auto;
  }
  .nav .container .logo {
    font-size: 1.4em;
  }
  .nav .container ul {
    font-size: 1.2em;
  }
  section.showcase {
    padding: 0;
  }
  section.showcase .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10em 4em;
    width: 1080px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.showcase .container .left-side {
    text-align: left;
    padding: 2em;
  }
  section.showcase .container .left-side h1 {
    font-size: 3.3em;
  }
  section.showcase .container .left-side .un {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.showcase .container .left-side .un .watch {
    margin-left: 1.5em;
  }
  section.showcase .container .illustration {
    width: unset;
  }
  section.features {
    position: relative;
  }
  section.features .features-left ul {
    display: block;
    margin-left: 4em;
  }
  section.features img {
    display: block;
    position: absolute;
    right: 0;
    width: 350px;
    bottom: -3em;
  }
  section.testimonials ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.testimonials ul li {
    margin: 0 1em;
  }
  section.contact-section {
    position: relative;
  }
  section.contact-section .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.contact-section .contact .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
  section.contact-section .contact .contact-right iframe {
    height: 100%;
  }
}

@media only screen and (min-width: 1450px) {
  section.features .features-left ul::before {
    content: '';
    width: 10%;
    height: 300px;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    top: -4em;
  }
  section.features .features-left ul::after {
    content: '';
    width: 200px;
    height: 20em;
    background: url(../images/dots.svg) no-repeat;
    position: absolute;
    left: 3.8em;
    top: 2em;
  }
}
/*# sourceMappingURL=main.css.map */